<div class="text">
	<h2>Changelog</h2>

	<p>Hier werd ich versuchen euch immer auf dem neusten Stand zu halten, was Updates für die Oberfläche betrifft. Ich werd die jetzt kontinuierlich weiterentwickeln und auch versuchen auf eure Wünsche einzugehen, sofern ich technisch dazu in der Lage bin ;)</p>

	
	<p>
		<h3>Version 0.1.6</h3>
			<b>Features:</b>
				<ul>
					<li>Möglichkeit die Sichtbarkeit der Achievements zu bestimmen, hinzugefügt</li>
					<li>Bilder können jetzt nachträglich hochgeladen und verändert werden</li>
				</ul>
			<b>Changes:</b>
				<ul>
					<li>Designänderungen</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Bug beim Erstellen der Achievements behoben</li>
					<li>Bug in der Datenvalidierung behoben</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1.5</h3>
			<b>Features:</b>
				<ul>
				</ul>
			<b>Changes:</b>
				<ul>
					<li>Die maximale Zeichenanzahl bei Kategorie-, Trigger- und Achievementtiteln wurde auf 20 reduziert</li>
					<li>Security Update</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Fehler behoben, bei dem im Overview jedes Achievement unter jeder Kategorie angezeigt wurde</li>
					<li>Grafikfehler bei den Achievements behoben</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1.4</h3>
			<b>Features:</b>
				<ul>
					<li>Löschen-Funktion für Kategorien hinzugefügt</li>
					<li>Löschen-Funktion für Trigger hinzugefügt</li>
					<li>Platzhalter für Achievements ohne Bilder eingefügt</li>
					<li>Achievements können jetzt nachträglich einer Kategorie und/oder einem Trigger zugewiesen werden</li>
				</ul>
			<b>Changes:</b>
				<ul>
					<li>der Overview ist wieder aktiv und überarbeitet</li>
					<li>die maximal zulässige Anzahl an Zeichen beim Erstellen von Achievements wurde auf 150 reduziert</li>
					<li>zu große Dateien werden jetzt mit einer eigenen Fehlermeldung abgelehnt</li>
					<li>die maximal zulässige Anzahl von Zeichen im Titel des Achhievements wurde auf 50 begrenzt</li>
					<li>Achievements ohne Kategorie werden jetzt im Overview mit einem entsprechenden Hinweis angezeigt</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Problem behoben, bei dem Features ihre Funktion verloren haben</li>
					<li>Problem behoben, bei dem nur das zuletzt erstellte Achievement im Overview angezeigt wurde</li>
					<li>Problem mit der Darstellung der Achievement-Bilder behoben</li>
					<li>Fehler bei der Erkennung von PNG-Formaten behoben</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1.3</h3>
			<b>Features:</b>
				<ul>
					<li>Löschen-Funktion für Achievements hinzugefügt</li>
				</ul>
			<b>Changes:</b>
				<ul>
					<li>Achievement-Design 1.1</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Problem behoben, dass das Hochladen von Bildern unmöglich machte</li>
					<li>Problem behoben, bei dem Achievements nicht ohne Bilder erstellt werden konnten</li>
					<li>Problem bei der Darstellung von mehr als zwei Achievements behoben</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1.2</h3>
			<b>Features:</b><br>
			<b>Changes:</b>
				<ul>
					<li>Designänderungen</li>
					<li>Dateigröße der Achievement-Bilder auf maximal 500kb begrenzt</li>
					<li>Der Overview ist vorrübergehend deaktiviert.</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Problem behoben, bei dem, bei kleineren Bildschirmauflösungen, das Achievement-Bild über den Rand der Box hing</li>
					<li>Problem behoben, bei dem immer nur das zuletzt erstellte Achievement dargestellt wurde</li>
					<li>Problem behoben, bei dem die Achievements unter "Achievement erstellen" untereinander, statt nebeneinander angezeigt wurden</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1.1</h3>
			<b>Features:</b>
				<ul>
					<li>alle bisher erstellten Kategorien werden jetzt auch unter dem Reiter "Kategorie erstellen" angezeigt.</li>
					<li>Trigger für die Achievementes können jetzt angelegt werden</li>
				</ul>
			<b>Changes:</b>
				<ul>
					<li>Neu erstellte Achievements werden jetzt sofort dargestellt.</li>
					<li>Systemnachrichten werden jetzt in der oberen linken Ecke angezeigt.</li>
					<li>Systemnachrichten verschwinden jetzt nach einiger Zeit (vorher statisch)</li>
				</ul>
			<b>Bugfixes:</b>
				<ul>
					<li>Problem bei der Decodierung von Umlauten behoben</li>
				</ul>
	</p>
	<p>
		<h3>Version 0.1</h3>
			<b>Features:</b>
				<ul>
					<li>Erstellen von Kategorien möglich</li>
					<li>Erstellen von Achievements möglich</li>
					<li>Erste Absicherungen gegen XSS</li>
					<li>Parameter der Bilder festgelegt und abgesichert</li>
				</ul>
			<b>Bugfixes:</b>
	</p>
</div>