<div class="text">
	<h2>Kategorie erstellen</h2>
	<p>
		Hier kannst du eine Kategorie von Achievements erstellen. Du wirst jedes Achievement, dass du dir neu einfallen lässt, einer Kategorie zuweisen müssen. Daher mach dir bitte vorher Gedanken, welche Kategorien du benötigst. Wie du bereits gesehen haben solltest, hab ich eine schon mal angelegt ;)
	</p>
	<p class="line">&nbsp;</p>
	<label for="categorie">Name der Kategorie:</label>
	<input type="text" name="categorie" id="c_name" maxlength="20">
	<button id="c_cat">Kategorie erstellen</button>

	<div id="categorie_container">
		<p class="line"></p>
		<h2>Kategorien</h2>
		<ul>
			{$categories}
		</ul>
	</div>
</div>

