<div class="text">
	<h2>Überblick</h2>
	<p>Hier bekommst du einen generellen Überblick über die bisher erstellten Kategorie und Achievements und erhälst einen Einblick in das generelle Design einer Errungenschaft. Veränderungen, Verbesserungen und zusätzliche Funktionen kannst du gern an mich weiterleiten und ich versuche sie, so schnell wie möglich, umzusetzen. :)<br>
	Auf der Seite "Changelog" kannst du die letzten Updates des Tools einsehen und wirst über neue Funktionen oder einfach Design-Veränderungen auf dem Laufenden gehalten.</p>
	<p class="line"></p>
	<div>
		<h2>Kategorien und Achievements</h2>
		<p>
			{$current}
		</p>
	</div>
	
</div>